.details__page {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 0;

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    min-height: 100vh;
  }
}
